@inherits LayoutComponentBase
<link href="ap.css" rel="stylesheet" />

<div class="nav">
    <div class="brand">
        <span class="material-symbols-outlined">description</span>
        Sistema de Importação
    </div>
    <NavLink href="/" Match="NavLinkMatch.All">Início</NavLink>
    <NavLink href="/upload">Nova Importação</NavLink>
    <NavLink href="/imports">Importações</NavLink>
</div>

<div class="container">@Body</div>
